# dotenv environment variable files
.env
.env.development.local
.env.test.local
.env.production.local
.env.local

# Fresh build directory
_fresh/
# npm dependencies
node_modules/

# vue dist
static/
!static/favicon.ico
!static/logo.svg
!static/styles.css

# deno vendor
vendor/

# pmim plugin
plugin/
